.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    height: 72px;
    background: linear-gradient(to bottom right, #1e1f22, #12141b, #0a0c10);
}

main {
    margin: auto;
}
