@inherits LayoutComponentBase

<PageTitle>SteamGameStore</PageTitle>

<div class="page">
    <header>
       <div class="logo">
            <img src="icons/game-store.svg" />
            <img src="icons/arrow.svg" />
       </div>

        <div class="pipe">

        </div>

        <nav class="header-item main-nav">
            <div class="logo-store">
                <img src="icons/nexus.svg" />
            </div>
            <div class="nexus-store link-btn">
                <p>Store</p>
            </div>

            <div class="news-store link-btn">
                <p>News</p>
            </div>

            <div class="support-store link-btn">
                <p>Support</p>
            </div>  
        </nav>

        <div class="header-item language-link">
            <img src="icons/world.svg" />
        </div>

        <div class="header-item profile-link">
            <img src="icons/profile.svg" />
        </div>

        <div class="header-item download-link header-btn">
            <p>Download</p>
        </div>
  
    </header>
    <main>
        <HeaderSearch></HeaderSearch>
         @Body
    </main>
</div>
