<div class="teaser">
    <div class="teaser__content">
        <img src="icons/tiser-logo.svg" />
        <div class="teaser__button">
            <button>
                Sign Up
            </button>
        </div>    
    </div>
</div>


@code {

}
