
* {
    margin: 0; 
    padding: 0;
    user-select: none;
}

body, html {
    height: 100vh;
    font-family: Oxanium;
}

img {
    pointer-events: none;
}

body {
    background: linear-gradient(to bottom right, #111214, #050608, #030407);
    background-attachment: fixed;
}

p {
    font-weight: bold;
    color: #fff;
}

