@font-face {
    font-family: Oxanium;
    src: url(../fonts/Oxanium-VariableFont_wght.ttf)
}

* {
    margin: 0; 
    padding: 0;
    user-select: none;
}

body, html {
    height: 100vh;
}

img {
    pointer-events: none;
}

body {
    background: linear-gradient(to bottom right, #343740, #212837, #11171e);
    background-attachment: fixed;
}

p {
    font-family: Oxanium;
    font-weight: bold;
    color: #fff;
}

